name: OWASP ZAP Integration - MS105
on: [push] # TC_SEC_12: Tự động chạy khi có hành động Push code

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web application
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.14.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # TC_SEC_13: Token để tự động tạo báo cáo trên GitHub Issues
          target: 'https://juice-shop.herokuapp.com/'
          rules_file_name: '.zap/rules.tsv'
          fail_action: true # TC_SEC_14: Trả về lỗi nếu tìm thấy lỗ hổng mức High
          cmd_options: '-r zap-report.html' 

      # --- BỔ SUNG ĐOẠN NÀY ĐỂ LẤY FILE BÁO CÁO ---
      - name: Upload ZAP Report
        if: always() # Luôn chạy kể cả khi ZAP tìm thấy lỗi (Fail)
        uses: actions/upload-artifact@v4
        with:
          name: ZAP-Security-Report
          path: zap-report.html
